{% extends "base.html" %}


{% block title %}About Us{% endblock %}


{% block content %}
<div class="container">
    <center>
        <h1 class="mb-3">About Us</h1>
    </center>


    <p style="font-size: 120%" class="mb-5">
        The function of this tool is to help users get the nutritional facts about a variety of foods from restaurants and grocery stores.
        This will allow the user to find what food they would like to eat that fits their diets and needs.
        It allows the user to be aware of what they are eating and be more conscious about it.
        We would expect people looking to be more aware of what they are eating to use and benefit from this tool so that they can look up nutrition facts about various foods in order to plan their diet.
        We would expect users of all ages and genders to use our app and many people would benefit from it because it allows them to keep track of their eating habits and could lead them to live a healthier life.
    </p>

    <center>
        <h1 class="mb-5">Created By:</h1>



    <p style = "font-size: 150%;">Khoi Dao</p>
    <p style = "font-size: 150%;">Jarred Clifford</p>
    <p style = "font-size: 150%;">Ronald Lee</p>
    <p style = "font-size: 150%;">Austin Pitts</p>

    </center>
</div>

<br>
<br>


{% endblock %}