{% extends "base.html" %}

{% block title %}Search Page{% endblock %}


{% block content %}
<div class="container">
    <h1>Top 10 Results for {{item}}:</h1>

    <ol>

        <style>
            table.tb { width: 700px; }
            .tb th, .tb td {  padding: 5px; }
        </style>

        <table class = "tb">

        {% for d in results %}    
            
            <tr>
              <th>Name</th>
              <th>Brand</th>
              <th>Calories</th>
            </tr>
            <tr>
              <td>{{d['fields']['item_name']}}</td>
              <td>{{d['fields']['brand_name']}}</td>
              <td>{{d['fields']['nf_calories']}}</td>
            </tr>

            {% endfor %}
          </table>

    


    </ol>
</div>

{% endblock %}